body {
  background-color: white;
  margin :0;
  padding: 20px;
}

.header-left {
  float: left;
  margin-left: 25px;
  color: #333399	;
}

.header-right {
  float: right;
  color: #333399	;
  font-weight: bold;
}

.header-right p {
  display: inline-block;
  margin-right: 25px;
}


.relative {
  position: relative;
}

.relative__img {
  width: 50%;
  margin: 150px 0 0 auto;
  height: 100%;
  display: block;
  position: relative;
  z-index: 3;
}

.absolute {
  position: absolute;
  font-size: 50px;
  top: 150px;
  font-weight: lighter;
  
}

.border {
  position: absolute;
  top: 260px;
  background-color: #333399;
  height: 200px;
  width: 750px;
}
